@model SisVest.WebUI.Models.AutenticacaoModel

@{
    Layout = null;
    ViewBag.Title = "Entrar";
}

<h2>Entrar</h2>

@if (!ViewBag.Autenticado)
{
    using (@Html.BeginForm())
    {
        @Html.EditorForModel()
        <p><input type="submit" value="Entrar"/></p>
    }
}
else
{
    <p>Seja Bem Vindo ! @Model.SNomeTratamento </p>

    <p>@Html.ActionLink("Sair", "Sair")</p>
}

@if (TempData["Mensagem"] != null)
{
    <p><strong>@TempData["Mensagem"]</strong> </p>
}
